body{
    background: url(img/5.png);
}
#container-descripcion{
    margin-top: 70px;
}
#container-descripcion h1{
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
}
#container-descripcion h5{
    font-family: cursive;
    font-weight: bold;
}
#container-descripcion p{
    font-size: 20px;
}
.container{
    margin-top: 50px;
}
.container-new{
    max-height: auto;
    min-height: 330px;
}